@import 'normalize';
@import 'mixins';
// @import 'slick';



*{
	box-sizing: border-box;}
html{
	font-size: 10px;
	height: 100%;
}
body{
	// font-family:
	font-size: 1.8rem;
	line-height: 1.6;
	color:#ffffff;
	min-height: 100%;
	.container-fluid{
		margin: 0 6%;
		width: 88%;
		padding: 0;

	}
}
main{
	background-color:#green;
	width: 100%;
	height: 100vh;
	.nav{
		height: 10vh;
		width: 88%;
		margin: 0 auto;
		display: flex;
         align-items: center;
         justify-content: space-between;
		&__burger{
			position: relative;
			display: block;
			height: 50px;
			width: 50px;
			background-color: #362f2f;
			margin: 8px;


		}
		&__line{
			width: 50%;
			height: 4px;
			background-color: #fff;
			 @include my_pos( 50%,50%);
			&::before,
			&::after{
				content:'';
				width: 100%;
			    height: 4px;
			    display: block;
			    background-color: #fff;
			    margin: 0 auto;

			}
			&::before{
              transform: translateY(250%);
			}
			&::after{
              transform: translateY(-350%);
			}
			#check_menu{
				display: none;
			}
			#check_menu:checked ~ &__line{
				height:0;
				&::before{
                 transform:rotate(45deg);                 
				}
				&::after{
                 transform:rotate(-45deg);
				}
			}
		}
		&__bar{
			display: none;

		}
		&__socials{
			list-style: none;
			padding-left: 0;
			display: flex;
			width: 30%;
			justify-content: space-around;


		}
		&__social{
			display: inline-block;
			width: 40px;
			height: 40px;
			 transition: fill 0.3s;
			 & a{
			fill:#362f2f;
			// stroke:yellow;
			 	// color:none;
			 	text-decoration: none;
			&:hover{
				stroke: #000;
				 fill:purple;
			   }
			 }

		}
	}
	.about{
		height: 90vh;
        &__foto{
        	& img{
        		width: 100%;
        		height: auto;
        	}
        } 
        &__text{
        	& p{
        		font-size: 1.6rem;
        		text-align: justify;
        	}

        } 
        &__title{
        	text-transform: uppercase;
        	font-size: 2.4rem;
        }

		
	}
	.timeline{
        height: 70vh;
        &__title{
        	padding:0 30px;
        	& span{
        	display: flex;
             justify-content: space-around;
             align-items: center;
             text-transform: uppercase;
        	height: 30%;
             font-size: 1.8rem;
             color:#fff;
        	background-color: #362f2f;
             margin: 0;
             padding:0;
        	}
        }
        &__data{
        	& h2{
        		color:#c88f00;
        	}
        	& p{
        		font-size: 1.6rem;
        		border-top:1px solid #c88f00;
        		padding: 10px 0;
        	&:nth-child(2) {
        		border: none;
        		padding-top: 0px;
        	}
        	}
        }
	}
	.client{
		position: relative;
		height: 70vh;
		 &__title{
        	padding:0 30px;
        	& span{
        	display: flex;
             justify-content: space-around;
             align-items: center;
             text-transform: uppercase;
        	height: 40%;
             font-size: 1.8rem;
             color:#fff;
        	background-color: #c3a000;
             margin: 0;
             padding:0;
        	}
        }
        &__list{
        	list-style:none;
        	padding-left: 0; 
        	font-size: 1.6rem;
        }
        &__speech{
        	font-size: 2rem;
        	text-align: center;
        	margin-top: 15%;
        	text-align: center;
        	& span{
        		font-weight: bold;
        	}
        }
        // &__pict{
        // 		outline: 1px red solid;
        // 		display: block;
        //  	height:50px;
        //  	width:50px;
        //  	@include my_pos(-10%,50%);
        // }
        &__logos{
        	list-style:none;
        	padding-left: 0;
        	display: inline-flex;
        	justify-content: space-around;
        	width: 100%;
        	height: 10vh;
            align-items: center;

        }
        &__logo{
        	padding-left: 0;
        	display: inline-block;
        	align-content: center;
        	width: 12%;
            height: auto;
        	& img{
        		// display: block;
        		// height: 100%;
        		// width: 100%;
        	}
        }
	}
	// .persons__wraper{
	// 		// height: 110vh;
	// 		&:nth-child(2n){
	// 			background-color: #000000;
	// 		}
	// 	}
	.persons{
		// width: 100%;
		height: auto;
		&__person:nth-child(even){
			background-color: #000;		
		}		
		&__person:nth-child(odd) {
			background-color: #362f2f;		
		}
		&__person{
			margin-bottom:20px ;

			color: #fff;
		}
		&__inner{
			outline: 1px red solid;
			height: auto;
			width:auto;
		}
		&__foto{

			height: 52vh;
			overflow: hidden;
             display: block;
			& img{
				width: 100%;
				height: auto;
				display: block;
			}

		}
		&__data{

			height: 52vh;
			display: block;
		}
		&__title{
			text-transform: uppercase;
				font-size: 2.4rem;
				padding: 0;
				margin: 0;
		}
		&__text{
				font-size: 1.8rem;
				padding: 0;
				margin: 0;
		}
		&__btn{
			border-radius: 0;
			display: block;
			font-size: 1.6rem;
			text-transform: uppercase;
			color: #fff;
			width: 40%;
			margin: 0 auto;
		}
	}
	.base{
		height: 5vh;
		text-align: center;
		font-size: 1.2rem;
		& span{
			padding: 20px 0;
			display: block;
			// width: 80px;
		}
	}

}

